@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
        @font-face {
            font-family: OtakuRantBold;
            src: url('./fonts/OtakuRantBold.ttf');
        }
        @font-face {
            font-family: OtakuRantItalbold;
            src: url('./fonts/OtakuRantItalbold.ttf');
        }
    .myfont{
        font-family: OtakuRantBold;
    }
    .hover-grow {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
    }
    
    .hover-grow:hover,
    .hover-grow:focus,
    .hover-grow:active {
        transform: scale(1.1);
    }
  }